@page
@model ccsecw1.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Booking Confirmation";
}

<h2>Booking Confirmation</h2>

<p>Congratulations! Your booking has been confirmed.</p>
<p>Your booking reference number is: @Model.BookingId</p>


