@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<header>
    <div class="text-center">
        <h1 class="display-4">Welcome To Pacific Tours !</h1>
    </div>
</header>


<a href="/AdminDashboard">Admin Dashboard</a>
<br />
<a href="/ManagerDashboard">Manager Dashboard</a>
<br />
<a href="/CustomerDashboard">Customer Dashboard</a>
<br />